.CustomTableContainer{
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.546);
}
/*****************************************
Table Header Part Start
*****************************************/
.tableHeader{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.menuContainer{
    position: relative;
    width: 13%;
    display: flex;
    justify-content: center;
}
/*****************************************
HamBurgerIcon Part Start
*****************************************/
.hamburgerIcon{
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
}
.hamburgerIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 3px;
    transition: transform 0.4s;
}
.hamburgerIcon span:nth-child(1){
    top:0
}
.hamburgerIcon span:nth-child(2){
    top:50%
}
.hamburgerIcon span:nth-child(3){
    bottom: 0;
}
/*****************************************
HamBurgerIcon Part Finish
*****************************************/

/*****************************************
columnAddRemoveMenu Part Start
*****************************************/
.columnAddRemoveMenu{
    border: 1px solid black;
    position: absolute;
    padding: 8px;
    top:60%;
    left: 0;
    background-color: white;
}
.columnAddRemoveMenu h5{
    font-size: 13px;
    font-weight: 600;
}
.columnAddRemoveMenu .listMenu{
    display: flex;
    flex-direction: column;
}
/*****************************************
columnAddRemoveMenu Part Finish
*****************************************/

.columnHeadingDesign{
    display: flex;
    padding: 5px;
}

.tableRow{
    display: flex;
    flex-direction: column;
}
.tableRowValue{
    display: flex;
    padding: 20px 8px;
    align-items: center;
}