select{
    padding: 10px 30px;
    background-color: lightgreen;
    color: green;
}
@media only screen and (max-width: 767px){
    select{
        padding: 7px 7px;
        background-color: lightgreen;
        color: green;
    }
}